@page
@model IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Simple Social Network</title>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <partial name="_Csrf" />
</head>
<body>
    <div id="initialDataFromBackend" style="display:none;"
         data-logged-user="@Model.InitialData.LoggedUser"
         data-friends="@Json.Serialize(Model.InitialData.Friends).ToString()"
         data-posts="@Json.Serialize(Model.InitialData.Posts).ToString()">
    </div>
    <div id="root"></div>
    <script type="text/javascript" src="~/js/ReactApp/main.js"></script>
</body>
</html>
