<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8" />
		<title>React Frontend</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
	</head>
	
	<body>
		<div id="initialDataFromBackend" style="display:none;"
			th:attr="data-logged-user=${initialData.getLoggedUser()},
					data-friends=${initialData.getFriends()},
					data-posts=${initialData.getPosts()}">
		</div>
		<div id="root"></div>
		<script type="text/javascript" th:src="@{/js/react-app/main.js}"></script>
	</body>
	
</html>
