@page
@model IndexModel

<h3 style="text-align: center">Simple Social Network</h3>
<hr />
<div style="text-align: center;">
    <a href="~/React/" target="_blank" class="btn btn-secondary" style="width:100px">
        <img src="~/images/react.svg" height="24" />
        <div>React</div>
    </a>
    <a href="~/Angular" target="_blank" class="btn btn-secondary" style="width:100px">
        <img src="~/images/angular.svg" height="24" />
        <div>Angular</div>
    </a>
</div>
<hr />