<h3 style="text-align: center">Simple Social Network</h3>
<hr />
<div style="text-align: center;">
    <a href="@Url.Action("React", "Spa")" target="_blank" class="btn btn-secondary" style="width:100px">
        <img src="~/Content/Images/react.svg" height="24" />
        <div>React</div>
    </a>
    <a href="@Url.Action("Angular", "Spa")" target="_blank" class="btn btn-secondary" style="width:100px">
        <img src="~/Content/Images/angular.svg" height="24" />
        <div>Angular</div>
    </a>
</div>
<hr />